## bookstack
PUID=1000
PGID=1000
TZ=Europe/Berlin
APP_URL=https://example.com
APP_KEY=
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=bookstack
DB_USERNAME=bookstack
DB_PASSWORD=
QUEUE_CONNECTION=database

## mariadb
MYSQL_RANDOM_ROOT_PASSWORD=no
MYSQL_DATABASE=bookstack
MYSQL_USER=bookstack
MYSQL_PASSWORD=
